:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* react-slick spacing fix */
.slick-slide > div {
  margin: 0 50px;
}

.slick-list {
  margin: 0 -12px;
}

/* In your globals.css */
::selection {
  background-color: #ef6c00; /* your desired highlight color */
  color: #ffffff; /* text color when highlighted */
}

/* Optional: Firefox-specific syntax (for consistency) */
::-moz-selection {
  background-color: #ef6c00;
  color: #ffffff;
}

@keyframes cursorMove {
  0% { top: 60px; right: 9px; }
  10% { top: 120px; right: 9px; }
  17% { top: 150px; right: 200px }
  25% { top: 150px; right: 200px }
  32% { top: 19px; right: 95px }
  39% { top: 19px; right: 95px }
  45% { top: 80px; right: 240px }
  52% { top: 80px; right: 240px }
  63% { top: 19px; right: 95px }
  70% { top: 19px; right: 95px }
  79% { top: 120px; right: 9px; }
  82% { top: 120px; right: 9px; }
  92% { top: 60px; right: 9px }
  100% { top: 60px; right: 9px }
}

@keyframes scrollingBox {
  0% { margin-top: 0; }
  10% { margin-top: -77%; }
  82% { margin-top: -77%;}
  92% { margin-top: 0%;}
  100% { margin-top: 0%; }
}

@keyframes scrollBar {
  0% { top: 0px; }
  10% { top: 60px }
  82% { top: 60px }
  92% { top: 0px }
  100% { top: 0px }
}

@keyframes popupProfile {
  0% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
  17% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
  21% {
    opacity: 1;
    transform: scale(1); translate: -50% -50%;
  }
  35% {
    opacity: 1;
    transform: scale(1); translate: -50% -50%;
  }
  38% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
  100% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
}

@keyframes popupProfile2 {
  0% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
  45% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
  47% {
    opacity: 1;
    transform: scale(0.1); translate: -50% -50%;
  }
  49% {
    opacity: 1;
    transform: scale(1); translate: -50% -50%;
  }
  66% {
    opacity: 1;
    transform: scale(1); translate: -50% -50%;
  }
  69% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
  100% {
    opacity: 0;
    transform: scale(0); translate: -50% -50%;
  }
}
